{% extends 'base_restaurateur_page.html' %}

{% load admin_urls %}
{% load humanize %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Тип оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order_item in order_items %}
      <tr>
        <td>{{ order_item.pk }}</td>
        <td>{{ order_item.get_status_display }}</td>
        <td>{{ order_item.get_payment_type_display }}</td>
        <td>{{ order_item.total|intcomma }} &#8381;</td>
        <td>{{ order_item.firstname }} {{ order_item.lastname }}</td>
        <td>{{ order_item.phonenumber }}</td>
        <td>{{ order_item.address }}</td>
        <td>{{ order_item.comment|safe }}</td>
        <td>
          {% if order_item.production_restaurant %}
            Готовит {{ order_item.production_restaurant }}
          {% else %}
            <details>
              <summary>Подробнее</summary>
              <ul>Могут приготовить:
                {% for restaurant in order_item.available_restaurants %}
                <li>{{ restaurant.name }} - {{ restaurant.distance }} Км. {{ order_item.address }}</li>
                {% endfor %}
              </ul>
            </details>
          {% endif %}
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' order_item.pk %}?next={{ path|urlencode:'' }}">Редактировать</a> </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
